.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  width: 100vw;
}

.info1 {
  display: flex;
  position: relative;
  min-width: 100%;
  min-height: 90vh;
  justify-content: center;
  padding-top: 4rem;
  background-color: #ffffff;
  overflow: hidden;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(./wave.png);
  background-size: 1000px 100px;
}

.wave1 {
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}

.wave3 {
  animation: animate 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}

.wave4 {
  animation: animat2 15s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

.prueba {
  position: relative;
  color: #ffffff;
  background-color: #3877d6;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-right: 14px;
  top: -2px;
}
.prueba p {
  width: 80%;
}

.info1_cont {
  display: flex;
  width: 80%;
  height: 70%;
}

.info1_texto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 50%;
  min-height: 100%;
  padding: 2rem;
}

.info1_texto p {
  font-size: 1rem;
  letter-spacing: -0.4px;
  line-height: 2;
  font-weight: 500;
  width: 80%;
  padding-top: 1rem;
}

.info1_texto h1{
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: -.8px;
    line-height: 1.3;
    overflow: hidden;
  }

.info1_img {
  display: flex;
  min-width: 50%;
  min-height: 100%;
}

.info1_img img{
    max-width: 26rem;
    max-height: 26rem;
  }
  
