.navBar {
    height: 50px;
    display: flex;
    justify-content: space-around;
    background-color: #4d4d4d;
}

.navTitle{
    font-size: 22px;
    padding: 10px 10px 10px 10px;
    color: #fff;
}

.navTitle:hover{
    background-color: rgba(0, 0, 0, 0.3) ;
}

.search{
    padding: 10px 10px 10px 10px;
}
