.container {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  min-width: 100vw;
  height: 5.5rem;
  align-items: center;
  justify-content: center;
  color: #3877d6;
}
.logo {
  font-family: "coolvetica rg";
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
}
.options {
  display: flex;

  align-items: center;
  width: 55%;
  height: 100%;
  padding: 0;
}
.options ul {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}
.options li {
  display: inline;
  padding-right: 1.2em;
  font-size: 1rem;
}
.login {
  display: flex;
  width: 25%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.login li {
  display: flex;
  flex-wrap: wrap;
  padding-right: 0.5em;
}
