

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
    background-color: #3877d6;
    width: 40%;
    height: 100%;
    /* max-height: 1000vh; */
    border: 1px solid;  
  }
  
  .textContainer {
    margin-top: 100px;
    width: 31.25rem;
    display: flex;
    justify-content: center;
  }
  
  .formContainer {
    width: 31.25rem;
    padding-top: 2.5rem;
    padding-bottom: 3rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
  }
  .form {
    min-width: 18.75rem;
    min-height: 12.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  