.container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  min-width: 100vw;
  height: 13rem;
  align-items: center;
  justify-content: center;
  color: #3877d6;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 90%;
  border-bottom: 1px solid;
}

.links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.5rem;
  text-align: center;
  align-content: center;
}

.links ul li {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;
}

.copyRights {
  display: flex;

  align-items: center;
  width: 100vw;
  min-height: 100px;
}

.copyRights .rights {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100px;
  padding-left: 7rem;
  flex-direction: column;
}
