.container {
  display: flex;
  background-color: #ffffff;
  min-width: 100vw;
  height: 5.5rem;
  align-items: center;
  justify-content: center;
  color: #3877d6;
}

.ul {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
