.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  /* max-height: 1000vh; */
  width: 100vw;
}

.cardContainer {
  display: flex;
  justify-content: center;

  padding-top: 4rem;
}

.cardContainer ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 50px;
  max-width: 50%;
  height: 100%;
}

/* .cardContainer ul li {
} */

/* CARD STYLES */

.card {
  width: 250px;
  height: 350px;
  background: #f0f0f0;
  border-radius: 10px;
  text-align: center;
  transition: all 0.5s;
}

.textContainer {
  width: 40%;
  padding-top: 1rem;
}

.textContainer h3 {
  text-align: center;
}

.card:hover {
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.623);
  background-color: #3877d6;
  width: 250px;
  height: 350px;
}

.card .blob {
  height: 10px;
  width: 75%;
  border-radius: 0 0 30px 30px;
  margin: 0 auto;
  background-color: #3877d6;
  visibility: visible;
  transition: all 0.3s;
}

.card:hover .blob {
  height: 0;
}

.card .img {
  display: flex;
  margin: 30px auto 10px auto;
  width: 70px;
  height: 70px;
  background-color: #3877d6;
  border-radius: 50%;
  font-size: 11px;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.card:hover .img {
  width: 100%;
  height: 70%;
  border-radius: 10px 0 0;
  margin: 0 auto;
  background-color: #f0f0f0;
  z-index: 99999;
}

.card .h2 {
  padding: 15px 10px;
  font-size: 25px;
  transition: all 0.1s;
  z-index: -99;
  line-height: 17px;
}

.card .span {
  font-size: 18px;
}

.card:hover .h2 {
  opacity: 0;
  width: 100%;
  position: absolute;
  transition: all 0.5s;
}

.card > .p {
  opacity: 0;
  transition: all 0.75s;
}

.card > .p > .icon {
  padding: 5px;
}

.card:hover > .p {
  position: absolute;
  bottom: 15px;
  left: 35px;
  opacity: 1;
  transition: all 0.1s;
}
