.about_container {
  /*
position: relative;
top: -10rem;
*/

display: flex;
justify-content: center;
  margin-top: 3rem;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  min-height: 35rem;
}

.div_container {
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
  justify-content: center;
  flex-wrap: wrap;
  /*color: rgb(56, 56, 56);*/
  /*color: rgb(104, 103, 103);*/
  color: #3f3206ab;
}

.div_clientes{  
  display: flex;
  justify-content: center;
  background-color: rgba(214, 176, 6, 0.247);
  width: 40vw;
  height: 25rem;
  margin: 2rem;
  padding: 2rem;
 border-radius: 1rem;
}

.div_empresa{  
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.082);
  width: 40vw;
 height: 25rem;
  margin: 2rem;
  padding: 2rem;
 border-radius: 1rem;
}
.about_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*margin-top: 2rem;*/
}

.about_title {
  font-size: 2rem;
}

.about_description {
  font-family: 'Arial', Courier, monospace;
font-size: 1.2rem;
  width: 30vw;
}

@media (max-width: 650px) {

  .div_clientes{
    width: 80vw;
  }

  .div_empresa {
    width: 80vw;
  }

  .about_description {
    width: 60vw;
  }
}