.content{
    position: absolute;
    height: 100%;
    width: calc(100% );
    padding-left: 50%;
    z-index: -2;
}

.hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 100%;
}